body {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #272822;
    color: #f8f8f0;
    font-size: 18px;
    margin: 0
}

pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    overflow: auto;
    margin: 1rem 0
}

a {
    color: #66d9ef;
    text-decoration: none
}

a:hover {
    color: #f92672
}

.wrap {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.wrap pre {
    display: inline-block;
    text-align: left;
    line-height: 2rem;
    overflow: auto
}

.hl.string {
    color: #e6db74
}
